.hero{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 128px;
}
.hero--data{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 449px;
  height: 205px;
}
.hero__title{
  color: #42E2B8;
  background-color: #0F0A0A;
  box-shadow: -4px 4px 0px #FFFFFF;
  padding: 4px 8px;
}